<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OBD_Form1.Properties.Settings.ConnectionString" connectionString="Dsn=DB_BIBLIO_DataSource;uid=sqlist18_2_yaov;pwd=sqlist18_yaov"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>